.mail-compose {
    display: flex;
    flex-direction: column;
    background: beige;
    padding: 17px;
    height: 221px;
    position: absolute;
    bottom: 0;
}
.note-container{
    widows: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20%;
    position: relative;
    margin:5px;
}
.note-list{
    background-color:gray;
    list-style-type: none;
}
.note-container span{
    position: absolute;
    left: 40%;
}